@use "../abstract";

%flexCenter {
    display: flex;
    align-items: center;
}

.header {
    padding: 30px 0;
    background: var(--header-bg-color);

    @include abstract.breakpoint(lg) {
        padding: 16px;
    }
}

.top-bar {
    position: relative;

    @extend %flexCenter;
    @include abstract.breakpoint(md) {
        justify-content: space-between;
    }
}

.navbar {
    margin-left: 144px;

    @include abstract.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstract.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        translate: -100%;
        transition: translate 0.3s;

        margin-left: 0;
        padding: 40px;

        background: var(--body-bg);
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &.show {
            translate: 0;

            ~ .navbar-overlay {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include abstract.breakpoint(md) {
        padding: 10px 10px 20px 20px;

        inset: 0 10% 0 0;
    }

    &__arrow-left {
        @include abstract.breakpoint(lg) {
            padding-bottom: 15px;
        }

        @include abstract.breakpoint(md) {
            padding: 10px 0;
        }
    }

    &__list {
        @extend %flexCenter;

        @include abstract.breakpoint(lg) {
            padding-right: 10px;
            height: 100%;

            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
        }
    }

    &__item {
        flex-shrink: 0;

        &:hover {
            .dropdown {
                display: block;
            }
        }

        @include abstract.breakpoint(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %flexCenter;
        gap: 6px;
        line-height: 1.46;
        height: 50px;
        padding: 0 15px;
        font: {
            size: 1.5rem;
            weight: 500;
        }

        @include abstract.breakpoint(lg) {
            justify-content: space-between;

            padding: 15px 0;
            height: initial;
        }

        @include abstract.breakpoint(md) {
            padding: 10px 0;
        }
    }

    &__arrow {
        margin-top: 3px;

        @include abstract.breakpoint(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }

    &-overlay {
        transition: visibility, opacity;
        transition-duration: 0.5s;

        @include abstract.breakpoint(lg) {
            visibility: hidden;
            opacity: 0;

            position: fixed;
            inset: 0;
            z-index: 8;

            background: rgb(0, 0, 0, 0.4);
        }
    }
}

.top-act {
    margin-left: auto;
    display: flex;
    gap: 20px;

    @include abstract.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        display: flex;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstract.breakpoint(lg) {
            width: 100%;

            background: transparent;
            box-shadow: none;
        }
    }

    &__btn {
        @extend %flexCenter;
        @include abstract.breakpoint(lg) {
            width: 100%;
            padding: 15px 0;
        }
        @include abstract.breakpoint(md) {
            padding: 10px 0;
        }

        padding: 13px;
        gap: 10px;

        &--double {
            padding: 10px 20px;
        }
    }

    &__title,
    &__total {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__total {
        @include abstract.breakpoint(lg) {
            margin-left: auto;
        }
    }

    &__separate {
        margin: auto 0;
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__user {
        flex-shrink: 0;
        width: 50px;
    }

    &__avatar {
        display: block;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    }
}
